@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*RESETEAR ESTILOS DE BROWSER*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

/* input {
    border: 1px solid #b0b0b0;
    padding: 3px 5px 4px;
    color: #979797;
    width: 190px;
} */
/* input {
     border: 1px solid #b0b0b0; 
     padding: 3px 5px 4px; 
     width: 190px; 
} */

address,
caption,
cite,
code,
dfn,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}











/*ESTILOS*/
@font-face {
    font-family: MikadoBoldDemo;
    src: url(MikadoBold_DEMO.otf);
}

body {
    color: white;
    background-color: #303660;
    font-family: 'Montserrat', sans-serif;
}

.titulo {
    width: 98%;
    max-width: 600px;
}

.header1 {
    background-color: #272d46;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 5px 0;
    padding-right: 4%;
    align-items: center;
}

.header1_div1 {
    padding-left: 10%;
    grid-area: 1 / 1 / 2 / 2;
}

.header1_div1-element,
.header1_div1-element:hover,
.header1_div1-element:focus {
    color: white;
    text-decoration: none;
}

/* .header1_div2 {
    padding-left: 20%;
    grid-area: 1 / 2 / 2 / 3;
} */

.header1_div2 {
    grid-area: 1 / 9 / 2 / 10;
}

.header1_div2-element,
.header1_div2-element:hover,
.header1_div2-element:focus {
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}


.header2 {
    /* background-color: #2c365a; */
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-right: 4%;

}

.header2_div1 {
    padding-left: 14%;
    grid-area: 1 / 1 / 2 / 2;
}

.header2_div2 {
    grid-area: 1 / 9 / 2 / 10;
}

.centerItems {
    display: grid;
    place-items: center;
}

.linkButton {
    background-color: #374275;
    box-shadow: rgb(0 0 0 / 19%) 4px 6px 10px 0px;
    padding: 7%;
    font-size: x-large;
    width: 34%;
    margin-top: 4%;
    text-align: center;
}

@media only screen and (max-width: 330px) {
    .linkButton {
        font-size: medium;
    }
}

.textoCentrado {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textoFinQuiz {
    font-size: x-large;
    padding-top: 9%;
}

#divXP {
    padding-top: 8%;

    padding-bottom: 4%;
}


.gridDeNiveles {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-size: medium;
    text-align: center;
    padding-bottom: 4%;
    max-width: 569px;
}

.nivelActual {
    grid-area: 1 / 3 / 2 / 4;
}

.nivelSiguiente {
    grid-area: 1 / 9 / 2 / 10;
}


#barra {
    width: 75%;
    height: 15px;
    border: 1.5px solid #000;
    border-radius: 6px;
    position: relative;
    font-size: smaller;
    text-align: center;
    z-index: -2;
    max-width: 443px;
}

#barra .progreso {
    background-color: #b95de5;
    max-width: 100.55%;
    width: 100.55%;
    height: 103%;
    border-radius: 6px;
    z-index: -1;
    position: absolute;
}

#ranking-marco {
    display: grid;
    place-items: center;
    grid-template-rows: repeat(3, 56px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#ranking-fondo {
    background-color: #626bb6;
    grid-area: 2 / 1 / 3 / 2;
    width: 74%;
    max-width: 74%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 1%;
}

#ranking-table {
    font-size: small;
    width: 100%;
}

th,
td {
    text-align: center;
    background-color: #767db6;
    padding: 6px 0;
    border: 3px solid #626bb6;
}


.ranking-titulo {
    font-size: larger;
}

#ranking-pagina {
    background-color: #626bb6;
    grid-area: 3 / 1 / 4 / 2;
    font-size: smaller;
    position: relative;
    top: 7px;
    left: 28.5%;
    padding: 1px 4px;
}

.colNum {
    width: 12%;
}

.colScore {
    width: 33%;
}

#ranking-diffSelect {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 17%);
    grid-template-rows: 27px;
    grid-column-gap: 26px;
    font-size: smaller;
    position: relative;
    text-align: center;
    top: -6px;
}

.diff1 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #626bb6;
    padding: 0 11%;
}

.diff2 {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #626bb6;
    padding: 0 9%;
}

.diff3 {
    grid-area: 1 / 3 / 2 / 4;
    background-color: #626bb6;
    padding: 0 9%;
}

.diff4 {
    grid-area: 1 / 4 / 2 / 5;
    background-color: #626bb6;
    padding: 0 9%;
}


#gridPerfil {
    padding-top: 30px;
    border: 1px solid;
    width: 92%;
    max-width: 569PX;
    padding-bottom: 6px;
    margin-top: 20px;
}

@media only screen and (max-width: 400px) {
    #gridPerfil {
        padding-top: 30px;
    }
}

.perfilAvatar {
    background-color: whitesmoke;
    width: 103px;
    height: 103px;
    border-radius: 100%;
    max-width: 103px;
    max-height: 103px;
}

.perfilNombre {
    /* margin: 16px 0; */
    font-size: 30px;
}

.profileStatus {
    background-color: #626bb6;
    padding: 29px 48px;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 1em;
}

.perfilInfo {
    font-size: 14px;
}

.lastPlayed {
    text-align: center;
    padding-top: 19px;
}

.profile-table {
    margin-top: 10px;
}

.profile-td {
    padding: 5px 3px;
}

.perfilCard {
    display: flex;
    place-items: center;
    justify-content: center;
}

.perfilCard [content-width] {
    display: flex;
    place-items: center;
    justify-content: center;
}






/*TARJETA DE PREGUNTA*/
#num_pregunta {
    background: linear-gradient(90deg, rgba(110, 189, 241, 1) 0%, rgba(90, 141, 230, 1) 63%);
    /* background: linear-gradient(90deg, rgba(99,178,254,1) 0%, rgba(90,141,230,1) 63%); */
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 17px;
    width: 15%;
    max-width: 65px;
    height: 50px;
    font-size: smaller;
    text-align: center;
    font-weight: bolder;
    color: white;
}

.pregunta {
    padding: 11%;
    padding-top: 2%;
    padding-bottom: 28px;
    height: 155px;
    display: flex;
    background-color: #434874;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2%;
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
}

#gamecard-juego {
    display: grid;
    grid-template-rows: 18% 82%;
    grid-row-gap: 11px;
    text-align: center;
    border: 1px solid gray;
    margin: auto;
    padding: 0 15px;
    width: 77%;
    max-width: 500px;
    height: 100%;
    max-height: 880px;
    place-items: center;
    padding-top: 23px;
    padding-bottom: 7px;
}

#gamecard-respuestas {
    display: grid;
    gap: 13px;
    /* max-height: 50px; */
    place-items: center;
}

.respuesta {
    background-color: #434874;
    color: white;
    padding: 7% 10%;
    width: 229px;
    max-width: 450px;
    border: 0;
    border-radius: 0.5em;
    border-bottom: 0.25em solid #242742;
    -moz-transition: 0.1s;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.respuesta:hover {
    background-color: #4c5286;
    border-bottom-width: 0;
    margin-top: 0.2em;
}

.selected {
    border: 2px solid white;
    box-shadow: rgba(183, 187, 190, 0.295) 0px 8px 24px;
}

.correct {
    /* background: linear-gradient(90deg, rgba(188, 248, 176, 1) 3%, rgba(97, 227, 139, 1) 92%); */
    background: linear-gradient(90deg, rgba(139, 194, 93, 1) 21%, rgba(96, 172, 50, 1) 87%);
    color: white;
    /* border: 2px solid rgb(35, 156, 77); */
    pointer-events: none;
}

.false {
    background: linear-gradient(90deg, rgba(240, 118, 106, 1) 9%, rgba(218, 74, 104, 1) 89%);
    color: white;
    /* border: 2px solid rgb(204, 59, 59); */
    pointer-events: none;
}

.next,
.login-button {
    letter-spacing: 0.3em;
    color: white;
    padding: 7% 10%;
    width: 200px;
    transition: all 0.7s ease-out;
    background: linear-gradient(270deg, rgba(188, 107, 234, 1) 0%, rgba(165, 70, 118, 1) 28%, rgba(76, 82, 134, 1) 62%, rgba(76, 82, 134, 1) 92%);
    background-position: 1% 50%;
    background-size: 300% 300%;
    text-decoration: none;
    margin: auto;
    border: 0;
    border-radius: 0.5em;
    border-bottom: 0.25em solid #242742;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.next:after {
    content: '\2192';
    font-size: 20px;
    font-weight: bolder;
    position: relative;
    opacity: 0;
    left: 12px;
    transition: 0.5s;
}

.login-button:after {
    font-size: 20px;
    font-weight: bolder;
    position: relative;
    opacity: 0;
    left: 12px;
    transition: 0.5s;
}

.next:hover,
.login-button:hover {
    /* padding-right: 24px;
    padding-left:8px; */
    color: #fff;
    background-position: 99% 50%;
}

.next:hover:after,
.login:after {
    opacity: 1;
}

/* REGISTER LOGIN */
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.screen {
    background-color: #2c365a;
    position: relative;
    height: 600px;
    width: 360px;
    /* box-shadow: 0px 0px 24px #5C5696; */
}

.screen__content {
    position: relative;
    height: 100%;
}

.login {
    width: 320px;
    padding: 30px;
    padding-top: 80px;
    margin: auto;
}

.login__field {
    padding: 20px 0px;
    position: relative;
}

.login__icon {
    position: absolute;
    top: 30px;
    color: white;
}

.login__icon--hide {
    right: 15px;
    top: 30px;
    color: white;
    cursor: pointer;
    position: absolute;
}

.login__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    width: 100%;
    /* transition: .2s; */
    color: white;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
    color: white;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid white;
    background-color: #303660;
}

.link-register {
    display: inline;
    color: #b967dd;
}

.link-register:hover {
    transition: 0.5s;
    color: #a24677;
}

.login__submit {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align: left;
    width: 80%;
    color: white;
    box-shadow: 0px 2px 2px #5C5696;
    cursor: pointer;
    transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
    border-color: #6A679E;
    outline: none;
}

.button__icon {
    font-size: 18px;
    margin-left: 20px;
    color: #7875B5;
}

.button__text {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
    color: #7875B5;
    text-align: center;
    margin: auto;
}

/***************** GAME LOBBY ******************/
.input-container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    padding: 10px;
    gap: 10px;
}

.input-container input {
    display: none;
}

.input-container label {
    position: relative;
    font-size: 18px;
    text-align: center;
    height: 6rem;
    display: block;
    cursor: pointer;
    border-radius: 0.8em;
    padding: 10px;
}

.input-container input:checked+label {
    border: 4px solid #303660;
    background-color: #2fcc71;
}

.input-container input:checked+label {
    color: white;
}

.input-container label {
    background-color: white;
}

.alert-message {
    position: relative;
    top: -90px;
    text-align: center;
}

.input-container-easy label {
    border: 5px solid green;
    border-bottom: 10px solid green;
    color: green;
}

.input-container-easy input:checked+label {
    background: linear-gradient(90deg, rgba(139, 194, 93, 1) 21%, rgba(96, 172, 50, 1) 87%);
    border-bottom: green;
}

.input-container-medium--active label {
    border: 5px solid orange;
    border-bottom: 10px solid orange;
    color: orange;
}

.input-container-medium--active input:checked+label {
    background: linear-gradient(90deg, rgba(249, 174, 81, 1) 21%, rgba(245, 148, 20, 1) 87%);
    border-bottom: orange;
}

.input-container-medium--disabled label {
    border: 5px solid orange;
    border-bottom: 10px solid orange;
    color: orange;
    opacity: 0.5;
}

.input-container-hard--active label {
    border: 5px solid red;
    border-bottom: 10px solid red;
    color: red;
}

.input-container-hard--active input:checked+label {
    background: linear-gradient(90deg, rgba(240, 118, 106, 1) 9%, rgba(218, 74, 104, 1) 89%);
    border-bottom: red;
}

.input-container-hard--disabled label {
    border: 5px solid red;
    border-bottom: 10px solid red;
    color: red;
    opacity: 0.5;
}

/***************** FOOTER ******************/

/* a {
    text-decoration: none;
} */

footer {
    background-color: #272d46;
    text-align: center;
    /* text-transform: uppercase; */
    padding-top: 10px;
    margin-top: 6%;
}

footer li {
    list-style: none;
    margin: 10px;
    display: inline-block;
}

.footer-copyright {
    background-color: #272d46;
    padding: 15px;
    margin-top: 10px;
    /* text-transform: capitalize; */
}

.footer-copyright p {
    margin-bottom: 0px;
}